EmpEmailService/.vs/
EmpEmailService/EmpEmailService/bin/Debug/EmpEmailService.pdb
EmpEmailService/EmpEmailService/bin/Debug/EmpEmailService.dll
EmpEmailService/EmpEmailService/obj/Debug/EmpEmailService.csprojAssemblyReference.cache
EmpEmailService/EmpEmailService/obj/Debug/EmpEmailService.csproj.FileListAbsolute.txt
EmpEmailService/EmpEmailService/obj/Debug/EmpEmailService.csproj.CoreCompileInputs.cache
EmpEmailService/EmpEmailService/obj/
EmpEmailService/packages/Castle.Core.4.4.0/readme.txt
EmpEmailService/packages/Castle.Core.4.4.0/lib/net35/Castle.Core.dll
EmpEmailService/packages/Castle.Core.4.4.0/LICENSE
EmpEmailService/packages/Castle.Core.4.4.0/CHANGELOG.md
EmpEmailService/packages/
EmpEmailService/TestEmpEmailService/bin/
EmpEmailService/TestEmpEmailService/obj/
